{% extends 'home/base.html' %} {% block content %}
    <main>
        <section class="product-gallery">
            {% if item %}
            <h2>Locate Your Items!</h2>
            <div class="products">
            {% for it in item %}
                <div class="product-card">
                    {% if it.item_image %}
                    <img src="{{it.item_image.url}}" alt="Product 1">
                    {% else %}
                    <img src="../../static/loginpage/background.jpg" alt="None">
                    {% endif %}
                    <h3>{{it.item_name}}</h3>
                    {% if it.item_location %}
                    <p>Item Location: {{ it.item_location}}</p>
                    {% else %}
                    <p>No Location Info!</p>
                    {% endif %}
                    <div class="button">
                        <a href = "{% url 'item' it.id %}">
                            <button class = "btn">
                                More Info
                            </button>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% else %}
            <h2>No Items to Locate!</h2>
            <p class="smalltext">Create one <a href="{% url 'createitem' %}">here</a>!</p>
            {% endif %}
        </section>
    </main>
{% endblock %}