{% extends 'base.html' %} {% block content %}
    <h1> Home </h1>
    <form class="login-form" action = "{% url 'index' %}">
        <div class="input">
          <input type="text" placeholder="Item Name" name = "itemname" value="{{value.itemname}}" />
        </div>
        <div class="button">
          <button class="join" type="submit">
            submit
          </button>
        </div>
      </form>
    {% if item %}
        {% for it in item %}
            <h1>{{ it.item_name }}</h1>
            <a href  = "{% url 'item' it.id %}">Touch</a>
        {% endfor %}
    {% endif %}
{% endblock %}